<div class="col-12 px-3 py-3">
    <div class="row">
        <div class="col-12 pt-2 pe-3" style="text-align: right;">
            <button class="boton" id="btnRegresar" type="button" routerLink="/"><i class="fa-solid fa-arrow-left"></i> Regresar</button>
        </div>
    </div>
</div>
<div class="container col-12">
    <br>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <!--<div><img src="usuario.png" class="rounded mx-auto d-block" style="width:20%;" alt="user"></div>-->
            <div><h2 class="pt-3 text-center">Inicio de Sesion</h2></div>
            <div class="card border border-dark">
                <!--<div class="card-header text-center border border-secondary"><h5>Inicio de Sesion</h5></div>-->
                <div class="card-body border border-secondary text-white">
                    <form id="form_login" class="row g-3 needs-validation" novalidate>
                        <div class="col-md-12 pt-1">
                            <label for="input_id_partition" class="form-label">ID Particion</label>
                            <input type="text" class="form-control input bg-dark text-white border border-secondary" id="input_id_partition" required value="">
                            <div class="invalid-feedback">Ingrese el id particion</div>
                        </div>
                        <div class="col-md-12 pt-2">
                            <label for="input_user" class="form-label">Usuario</label>
                            <input type="text" class="form-control input bg-dark text-white border border-secondary" id="input_user" required value="">
                            <div class="invalid-feedback">Ingrese su usuario</div>
                        </div>
                        <div class="col-md-12 mb-4 pt-2">
                            <label for="input_password" class="form-label">Contraseña</label>
                            <input type="password" class="form-control input bg-dark text-white border border-secondary" id="input_password" required value="">
                            <div class="invalid-feedback">Ingrese su contraseña</div>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-success w-100">Ingresar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>