<div class="col-12 px-3 py-3">
    <div class="row">
        <div class="col-12 pt-2 pe-3" style="text-align: right;">
            <!--<button class="boton" id="btnRegresar" type="button" routerLink="/"><i class="fa-solid fa-arrow-left"></i> Regresar</button>-->
            <button class="boton" id="btnRegresar" type="button" routerLink="/reports"><i class="fa-solid fa-arrow-left"></i> Regresar</button>
        </div>
    </div>
</div>
<div class="container col-12">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 pt-2">
            <div class="img-usr text-center"><i class="fa-solid fa-circle-user fa-5x"></i></div>
            <div><h2 class="pt-3 text-center">Inicio de Sesion</h2></div>
            <form class="content border border-secondary px-3">
                <label class="pt-3 pb-2">ID Particion</label>
                <div class="div-input border border-secondary"><i class="fa-solid fa-chart-pie ico"></i><input class="inpt bg-dark" type="text" name="inputUsername" placeholder="Ingresar id de particion montada" spellcheck="false" [(ngModel)]="inputPartition"></div>
                <label class="pt-3 pb-2">Usuario</label>
                <div class="div-input border border-secondary"><i class="fa-solid fa-user ico"></i><input class="inpt bg-dark" type="text" name="inputUsername"  placeholder="Ingresar usuario" spellcheck="false" [(ngModel)]="inputUsername"></div>
                <label class="pt-3 pb-2">Constraseña</label>
                <div class="div-input border border-secondary"><i class="fa-solid fa-lock ico"></i><input class="inpt bg-dark" type="password" name="inputPassword" placeholder="Ingresar contraseña" spellcheck="false" [(ngModel)]="inputPassword"></div>
                <div class="text-center"><button class="btn btn-success btnLogin px-5 my-4" (click)="login()">Ingresar</button></div>
            </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>